
.header-container
{
    display: flex;
    background-color: rgba(0,0,0,0.1);
    border-radius: 1rem;
    height: 3rem;
    padding: 0.2rem 1rem ;
}



/*=================================BARS==============================*/

.array-container
{
    position: absolute;
    left: 10%;
    top: 7rem;
    /* top: 100px; */
}

.array-bar
{
    width: 10px;
    
    border-radius: 1rem;
    background-color: var(black);
    display: inline-block;
    max-block-size: 450px;
    margin: 0 3px;
}